body {
    font-family: $font;
    height: 100vh;
    background-color: $pale-blue;
    background-image: url(../images/pattern-background-mobile.svg);
    background-size: 100% 20%;
    background-position: top;
    background-repeat: no-repeat;
    @include desktop-up {
        background-image: url(../images/pattern-background-desktop.svg);
        background-size: 100% 40%;
    }

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.card{
    width: 85%;
    background-color: white;
    border-radius: 1.25rem;
    color: $dark-blue;
    box-shadow: 0 1rem 1rem $pale-blue;
    max-width: 327px;

    &__header {
        background-image: url(../images/illustration-hero.svg);
        background-size: cover;
        height: 10rem;
        border-top-left-radius: 1.25rem;
        border-top-right-radius: 1.25rem;
    }
    &__body {
        text-align: center;
        padding: 1.56rem;
        line-height: 1.5;
    }
    &__title {
        font-weight: 900;
        margin-top: 4px;
        margin-bottom: 4px;
    }
    &__intro {
        color: $desaturated-blue;
    }
    &__plan {
        display: flex;
        justify-content: space-around;
        align-items: center;
        border-radius: 0.7rem;
        background-color: $very-pale-blue;
        padding-top: .5rem;
        padding-bottom: .5rem;
        margin-bottom: 1.5rem;
        
        &-details {
            font-size: 14px;
            @include desktop-up {
                font-size: $fs;
            }
            &-title {
                font-weight: 900;
                margin-bottom: 2px;
            }
            &-price {
                color: $desaturated-blue;
                margin-top: 2px;
            }
        }
        &-link {
            color: $bright-blue;
            font-weight: 700;
            font-size: 14px;
            @include desktop-up {
                font-size: $fs;
                transition: opacity .3s;
                &:hover {
                    opacity: .5;
                    transition: opacity .3s;
                }
            }
        }
    }
}